/* 라디오 버튼 */
input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    transition: background .5s ease-in-out;
}
input:checked{
    background: #58D2CD;
    border: none;
}
input:checked + label{
    text-decoration: underline;
    text-underline-position: under;
}
label{
    margin-right: 40px;
    transform: translateY(-60px);
    font-size: 22px;
    font-family: 'DM Serif Display';
    cursor: pointer;
}
#con1:checked ~ #menu_1,
#con2:checked ~ #menu_2,
#con3:checked ~ #menu_3{
    display: block;
}

/* 탭 */
.tab{
    width: 600px;
}
.con{
    width: 100%;
    display: none;
    background: #fff;
}
.con p{
  line-height: 2;
}


.con1 {
    font-size: 20px;
}