<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/activity.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="activity__hello">ENIAC</h1>
    
    <div class="tab">
       
        <div class="con is_on">활동</div>
       
        
        
        <div class="con">명단</div>
        
       
        <div class="con">챌린지</div>
       
    </div>
    <script src="../static/js/activity.js"></script>
</body>
</html>
