{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block content %}

{% load static %}

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/project/project-create.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body id="project-page">
  <div id="Tab" style="height: 100%; position: relative" class="project">
    <!-- Project Menu -->
    {% include 'project/project__menu.html' %}

    <!-- Project List -->
    <div class="project-cardlist">
       {% for p in project %}
        {% include 'project/project__card.html' with p=p %}
      {% endfor %}
    </div>

    <!-- Pagination -->
    <!-- <div class="project__pageparent">
      <div class="project-page">
        {% if fav.has_previous %}
        <a class="project-page__a" href="?page={{ fav.previous_page_number }}">
          <i style="margin-right: 10px" class="fas fa-chevron-left fa-lg"></i>
        </a>
        {% endif %}
        <span>{{ fav.number }} of {{ fav.paginator.num_pages }}</span>
        {% if fav.has_next %}
        <a class="project-page__a" href="?page={{ fav.next_page_number }}">
          <i style="margin-left: 10px" class="fas fa-chevron-right fa-lg"></i>
        </a>
        {% endif %}
      </div> -->
    </div>

    <!-- Footer -->
  
  </div>
</body>
{% endblock %}