<!-- templates/components/project_modal.html -->
<div class="modal hidden">
  <div class="modal__overlay"></div>
  <div class="modal__box">
    <i class="modal__close fas fa-times fa-2x"></i>
    <div class="modal__content">
      <img src="{{ project.get_photo_url }}" alt="{{ project.title }}" />
      <div class="modal__text">
        <h2 class="modal__title">{{ project.title }}</h2>
        <p class="modal__cont">{{ project.desc }}</p>
        <div class="modal__text-bottom">
          <span class="modal__developer">개발자: {{ project.developer }}</span>
          <div class="modal__link">
            <a href="https://github.com/eniac-hompage/website">
              <i class="fa a-brands fa-github fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
